@model AddDatasetViewModel
@{
  ViewData["Title"] = "Add Dataset Page";
}
<div class="text-center">
  <br />
  <div class="login-container">
    <h1 style="text-align:center; !important">Add New Dataset</h1>
    <br />
<form asp-action="AddDataset" method="post">

    <h3>Dataset Name</h3>
    <input asp-for="Title" class="input-box" />

    <h3>Access Type</h3>
    <input type="radio" asp-for="AccessLevel" value="1" />
    <label for="sensitive">Sensitive</label>
    <input type="radio" asp-for="AccessLevel" value="0" />
    <label for="non-sensitive">Non-sensitive</label>

    <h3>Description</h3>
    <textarea asp-for="Description" rows="4" cols="41"></textarea>
    
    <button class="input-button" type="submit" style="margin-top: 2em;">Add Dataset</button>
    </form>
  </div>
</div>