@using Microsoft.AspNetCore.Html;
@using System.Diagnostics.Eventing.Reader
@{
var headerAnchors = new List<IHtmlContent>();
  
  if (User.Identity.IsAuthenticated) // if the user is logged in
  {
    if (User.IsInRole("User")){
      headerAnchors.Add(Html.ActionLink("GOV·UK", "Home", "User", null, new { @class = "nav-link" }));
      headerAnchors.Add(Html.ActionLink("My Requests", "Requests", "User", null, new { @class = "nav-link" }));
      headerAnchors.Add(Html.ActionLink("Request Datasaet", "RequestDocument", "User", null, new {@class = "nav-link"}));
    };

    if (User.IsInRole("Approver")){
      headerAnchors.Add(Html.ActionLink("GOV·UK", "Home", "Approver", null, new { @class = "nav-link" }));
      headerAnchors.Add(Html.ActionLink("My Requests", "Requests", "User", null, new { @class = "nav-link" }));
      headerAnchors.Add(Html.ActionLink("Request Datasaet", "RequestDocument", "User", null, new {@class = "nav-link"}));
      headerAnchors.Add(Html.ActionLink("Approve Request", "ApproveRequest", "Approver", null, new {@class = "nav-link"}));
    }; 

    if (User.IsInRole("Admin")){
      headerAnchors.Add(Html.ActionLink("GOV·UK", "Home", "Admin", null, new { @class = "nav-link" }));
      headerAnchors.Add(Html.ActionLink("My Requests", "Requests", "User", null, new { @class = "nav-link" }));
      headerAnchors.Add(Html.ActionLink("Request Datasaet", "RequestDocument", "User", null, new {@class = "nav-link"}));
      headerAnchors.Add(Html.ActionLink("Approve Request", "ApproveRequest", "Approver", null, new {@class = "nav-link"}));
      headerAnchors.Add(Html.ActionLink("Add Dataset", "AddDataset", "Admin", null, new {@class = "nav-link"}));
      headerAnchors.Add(Html.ActionLink("Manage Roles", "RoleManagement", "Admin", null, new {@class = "nav-link"}));
    };
  
  };

  if (!User.Identity.IsAuthenticated) // if the user is not logged in
  {
  headerAnchors.Add(Html.ActionLink("Log in", "Login", "Account", null, new { @@class = "nav-link" }));
  headerAnchors.Add(Html.ActionLink("Register", "Register", "Account", null, new { @@class = "nav-link" }));
<<<<<<< HEAD
=======
  } else if (User.IsInRole("Admin"))
  {
  headerAnchors.Add(Html.ActionLink("GOV·UK", "Home", "Admin", null, new { @class = "nav-link" }));
  headerAnchors.Add(Html.ActionLink("Add Dataset", "AddDataset", "Admin", null, new {@class = "nav-link"}));
  headerAnchors.Add(Html.ActionLink("Manage Roles", "RoleManagement", "Admin", null, new {@class = "nav-link"}));
  } else if (User.IsInRole("Approver"))
  {
  headerAnchors.Add(Html.ActionLink("GOV·UK", "Home", "Approver", null, new { @class = "nav-link" }));
  headerAnchors.Add(Html.ActionLink("Approve Request", "ApproveRequest", "Approver", null, new {@class = "nav-link"}));
  } else if (User.IsInRole("User"))
  {
  headerAnchors.Add(Html.ActionLink("GOV·UK", "Home", "User", null, new { @class = "nav-link" }));
  headerAnchors.Add(Html.ActionLink("My Requests", "Requests", "User", null, new { @class = "nav-link" }));
  headerAnchors.Add(Html.ActionLink("Request Dataset", "RequestDocument", "User", null, new {@class = "nav-link"}));
>>>>>>> dfd2a3eb1b193a2958be12a00f761c41642857c6
  }
  }

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UKHSA</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UKHSA.styles.css" asp-append-version="true" />
  </head>

  <body>
    <header>
      <div class="navbar-container">

      <div class="navbar-logo">
      <a>
      <img src="/Images/UKHSA_Logo.png" alt="UKHSA Logo"/>
      </a>
      </div>

        <ul class="navbar-items">
          @foreach (var anchor in headerAnchors)
          {
          <li class="nav-item">
            @anchor
          </li>
          }
          <li class="nav-item">
            <a class="nav-link" href="https://www.gov.uk/government/organisations/uk-health-security-agency">
              About Us
            </a>
          </li>
          @if (User.Identity.IsAuthenticated)
          {
          <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
            <button type="submit" class="nav-button">Log Out</button>
          </form>
          }
        </ul>
      </div>
    </header>
    <div class="container">
      <main role="main" class="pb-3">
        @RenderBody()
      </main>
    </div>

    <footer class="border-top footer text-muted">
      <div class="footer-container">
        &copy; 2026 - UKHSA - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
      </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
  </body>

  </html>