:root {
  --nav-colour: #005EB8;
  --nav-colour-hover: #0072CE;
  --button: #00703C;
  --button-hover: #006747;
  --button-disabled: #8A1538;
  --nhs-black: #231F20;
  --button-border: black;
  --shadow: #999999;
  --background-colour: #E8EDEE;
  --pagination-hover: #768692;
  --hover-yellow: #ffdd00;
  --purple: #54319f;
}