@using Microsoft.AspNetCore.Authorization.Infrastructure
@using App.Models
@model Request
@{
    ViewData["Title"] = "Deny Requests";
}

<div class="text-center">
    <br />
    <div class="login-container">
        <h1> Deny Request </h1>
            <form asp-action="DenyRequest" method="post">
            <input type="hidden" name="requestId" value="@Model.Id" />

                <label>Reason for Rejection</label>
                <br />
                <input class="input-box" type="text" id="reason" name="reason"/>
                <br />
                <button type="submit" class="input-button">Submit</button>
            </form>
    </div>
</div>