@using Microsoft.AspNetCore.Mvc.Razor
@model List<Dataset>

@{
  ViewData["Title"] = "Request Document Page";
}

<div class="text-center">
  <br />
  <div class="login-container">
    <h1>Request Dataset</h1>
    <form asp-action="RequestDocument" method="post">
      <h3>Select Dataset</h3>
      <select name="DatasetId" id="DatasetId" onchange="AccessLevelRadio()">
        <option value="">Select a dataset</option>
        @foreach (var item in Model)
        {
          <option value="@item.Id" class="@(item.AccessLevel == 0 ? "non-sen" : "sen")">@item.Title</option>
        }
      </select>

      <h3>Access Type</h3>

      <div class="radio-button">
        <div class="radio-item">
          <input type="radio" id="sensitive" name="AccessLevel" value="1" />
          <label for="sensitive">Sensitive</label>
        </div>
      
        <div class="radio-item">
          <input type="radio" id="nonSensitive" name="AccessLevel" value="0" />
          <label for="nonSensitive">Non-sensitive</label>
        </div>
      </div>

      <h3 style="margin-top: 2em;">Purpose</h3>
      <textarea class="text-area" name="Purpose" rows="4" cols="41"></textarea>
      <button class="input-button" type="submit" style="margin-top: 2em;">Request Dataset</button>
    </form>

    <script>
      var DropDown = document.getElementById("DatasetId");
      //radion buttons
      var Sensitive = document.getElementById("sensitive");
      var NonSensitive = document.getElementById("nonSensitive");


      function AccessLevelRadio() {
        var IsSensitive = DropDown.options[DropDown.selectedIndex].className;
        if (IsSensitive != "sen") { NonSensitive.checked = true; }
        else { Sensitive.checked = true; }
      }
    </script>
  </div>
</div>